<div class="row">
  <div class="col-4">
    <div class="section">
      <h3>Find User</h3>
      <%= form_with(method: "get", local: true) do %>
        <%= text_field_tag :search_term, nil, placeholder: 'email' %>
        <%= submit_tag("search") %>
      <% end %>
      <% if @searched_users %>
        <ul>
          <% @searched_users.each do |su| %>
            <li><%= su.first_name %> <%= follow_or_unfollow(su.id) %></li>
          <% end %>
        </ul>
      <% end %>
      <h4>Followings</h4>
      <ul>
        <% @followings.each do |su| %>
          <li><%= su.first_name %> <%= follow_or_unfollow(su.id) %></li>
        <% end %>
      </ul>
      <h4>Followers</h4>
      <ul>
        <% @followers.each do |su| %>
          <li><%= su.first_name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="col-4">
    <div class="section">
      <h3>My Feeds</h3>
      <%= form_with(model: @feed, local: true) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.text_area :content, style: "width: 100%;" %>
        <%= submit_tag("create new feed") %>
      <% end %>
      <hr>
      <% @feeds.each do |feed| %>
        <%= form_for(feed) do |f| %>
          <%= f.hidden_field :user_id %>
          <%= f.text_area :content, style: "width: 100%;" %>
          <%= submit_tag("update feed") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-4">
    <div class="section">
      <h3>Search my Feeds</h3>
      <%= form_with(method: "get", local: true) do %>
        <%= text_field_tag :keyword, nil, placeholder: 'keyword' %>
        <%= submit_tag("search") %>
      <% end %>
      <hr>
      <% if @searched_feeds %>
        <ul>
          <% @searched_feeds.each do |sf| %>
            <li><%= sf.content %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="section">
      <h3>Following Feeds</h3>
      <% @followings.each do |fol| %>
        <% fol.feeds.each do |f| %>
          <%= "#{fol.first_name} - #{f.content}<br>".html_safe %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>