<!DOCTYPE html>
<html>
  <head>
    <title>MySocialMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      body {
        font-size: 13px;
      }
      .section {
        background-color: #fff;
        border: 1px solid #dddfe2;
        border-radius: 3px;
        padding: 10px;
      }
      .flasher {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
      }
      .notice {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
      }
      .alert {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
      }
      .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        text-decoration: none;
      }
      .btn-dark {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <% if !notice.blank? %>
            <p class="flasher notice"><%= notice %></p>
          <% end %>
          <% if !alert.blank? %>
            <p class="flasher alert"><%= alert %></p>
          <% end %>
          <% if current_user %>
            <div>
              <h3>Welcome, <%= user_full_name %></h3>
              <%= link_to "EDIT ACCOUNT", edit_user_registration_path, class: "btn btn-dark" %>
              <%= link_to 'LOGOUT', destroy_user_session_path, class: "btn btn-dark", method: 'delete' %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
