<!DOCTYPE html>
<html>
  <head>
    <title>MySocialMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <% if !notice.blank? %>
            <p class="flasher notice"><%= notice %></p>
          <% end %>
          <% if !alert.blank? %>
            <p class="flasher alert"><%= alert %></p>
          <% end %>
          <% if current_user %>
            <div>
              <h3>Welcome, <%= user_full_name %></h3>
              <%= link_to "HOME", authenticated_root_path, class: "btn btn-dark" %>
              <%= link_to "EDIT ACCOUNT", edit_user_registration_path, class: "btn btn-dark" %>
              <%= link_to 'LOGOUT', destroy_user_session_path, class: "btn btn-dark", method: 'delete' %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
